<% unless comment.archived? %>
  <div class="w-full p-2 bg-[#1D232A] shadow-xl rounded-lg">
    <p class="text-white">
      <strong class="text-gray-400">Commenter:</strong>
      <%= comment.commenter %>
    </p>
    <p class="text-white">
      <strong class="text-gray-400">Comment:</strong>
      <%= comment.body %>
    </p>
  </div>
<% end %>